.link {
  font-size: 15px;
  color: #4986cc;
  cursor: pointer;
}

.link-all {
  cursor: pointer;
}

.card div {
  width: 150px;
  height: 120px;
  border-radius: 14px;
}

.matches_card {
  background-size: cover;
  background-position: center center;
  border-radius: 14px;
  position: relative;
  color: #fff;
  padding: 20px;
}

.matches_card-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
  border-radius: 14px;
}

.matches_card-wrapper {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: space-between;
}

.matches_card-left {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.44);
  font-size: 14px;
  padding-left: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  text-transform: uppercase;
  z-index: 50;
}

.matches_card-right {
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
}

.matches_card-text {
  position: relative;
  z-index: 50;
  max-width: 250px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
}

.matches_card-time {
  font-size: 13px;
  line-height: 17px;
  opacity: 0.3;
}

.matches_card-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 50;
}
